{#
    @file alert.html.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Alert component.

    @var id:          Your id
    @var name:        Your name
    @var class:       alert-success, alert-info, alert-warning, alert-danger
    @var dismissible: bool
    @var message:     Your text message

    How to use it:
        {% include "components/alert.html.twig" with {data:{id:'myAlertId', name:'myAlertName', class: 'alert-success', dismissible: true, message: '<strong>Hello World</strong> Testing templating BS components with Twig!'}} %}
#}

<div{% if data.id is defined %} id="{{ data.id }}"{% endif %}{% if data.name is defined %} name="{{ data.name }}"{% endif %}
        {% if data.class is defined %}class="{{ data.class }}"{% endif %}{% if data.dismissible is defined and data.dismissible==true %} alert-dismissible fade in{% endif %}"
        role="alert">
    {% if data.dismissible is defined and data.dismissible==true %}
        <button type="button" class="close" data-dismiss="alert" aria-label="{{ trans('close') }}">
            <span aria-hidden="true">&times;</span>
        </button>
    {% endif %}
    {% if data.message is defined %}
        {{ data.message | raw }}
    {% endif %}
</div>