{#
    @file alert.html.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Alert component.

    @var data:             Can contains all this key => value:
    @var data.id:          Your id
    @var data.name:        Your name
    @var data.class:       alert-success, alert-info, alert-warning, alert-danger
    @var data.dismissible: bool
    @var data.message:     Your text message

    How to use it:
        {% include "@Core/components/alert.html.twig" with {data:{id:'myAlertId', name:'myAlertName', class: 'alert-success', dismissible: true, message: '<strong>Hello World</strong> Testing templating BS components with Twig!'}} %}
#}

{% set randValue = random() %}

{% set id = data.id | default('alertId' ~ randValue) %}
{% set name = data.name | default('alertName' ~ randValue) %}
{% set class = data.class | default('alert alert-success') %}
{% set dismissible = data.dismissible | default(false) %}
{% set message = data.message | default('Message not setted') %}

<div id="{{ id }}" name="{{ name }}" class="{{ class }} {% if dismissible==true %}alert-dismissible fade in{% endif %}" role="alert">
    {% if dismissible==true %}
        <button type="button" class="close" data-dismiss="alert" aria-label="{{ trans('close') }}">
            <span aria-hidden="true">&times;</span>
        </button>
    {% endif %}
    {{ message | raw }}
</div>