{#
    @file breadcrumb.html.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Breadcrumb component.

    @var id:          Your id
    @var name:        Your name
    @var texts:       Array of texts
    @var links:       Array of links, link or null
    @var classes:     Array of classes, 'active' or null

    WARNING: Length of arrays (must be the same)

    How to use it:
        {% include "@Core/components/breadcrumb.html.twig" with {data:{id:'myBreadcrumbId', name:'myBreadcrumbName', texts: texts, links: links, classes: classes, length: length}} %}
#}

<nav aria-label="breadcrumb">
    <ol{% if data.id is defined %} id="{{ data.id }}"{% endif %}{% if data.name is defined %} name="{{ data.name }}"{% endif %}
            class="breadcrumb">
        {% for i in data.texts %}
            <li{% if data.classes[loop.index0] is defined and data.classes[loop.index0]=='active' %} class="{{ data.classes[loop.index0] }}"{% endif %}>
                {% if data.links[loop.index0] is defined and data.links[loop.index0]!=null %}
                    <a href="{{ data.links[loop.index0] }}">
                {% endif %}
                {% if data.texts[loop.index0] is defined %}
                    {{ data.texts[loop.index0] | raw }}
                {% endif %}
                {% if data.links[loop.index0] is defined and data.links[loop.index0]!=null %}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</nav>
