{#
    @file breadcrumb.html.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Breadcrumb component.

    @var id:          Your id
    @var name:        Your name
    @var texts:       Array of texts
    @var links:       Array of links, link or null
    @var classes:     Array of classes, 'active' or null

    WARNING: Length of arrays (must be the same)

    How to use it:
        {% include "@Core/components/breadcrumb.html.twig" with {data:{id:'myBreadcrumbId', name:'myBreadcrumbName', texts: texts, links: links, classes: classes, length: length}} %}
#}


{% set id = data.id | default('breadcrumb') %}
{% set name = data.name | default('breadcrumb') %}
{% set texts = data.texts | default(['Collapsible Group Item #1', 'Collapsible Group Item #2' , 'Collapsible Group Item #3']) %}
{% set classes = data.classes | default (['', '' , 'active']) %}
{% set links = data.links | default(['#', '#', 'Collapsible Group Item #3']) %}

<nav aria-label="breadcrumb">
	<ol id="{{ id }}" name="{{ name }}" class="breadcrumb">
		{% for i in texts %}
			<li{% if classes[loop.index0] =='active' %}
				class="{{ classes[loop.index0] }}"
					{% endif %}>
				{% if links[loop.index0]!=null %}
				<a href="{{ links[loop.index0] }}">
                {% endif %}
					{% if texts[loop.index0] is defined %}
						{{ texts[loop.index0] | raw }}
                {% endif %}
					{% if links[loop.index0]!=null %}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</nav>
