{#
    @file button-group.html.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Button Group component.

    @var class:       btn-group-lg, btn-group-sm, btn-group-xs, btn-group-vertical
    @var ids:         Array of ids
    @var names:       Array of names
    @var texts:       Array of texts
    @var classes:     Array of classes, btn-default, btn-success, btn-info, btn-warning, btn-danger or button sizes

    WARNING: Length of arrays (must be the same)

    How to use it:
        {% include "@Core/components/button-group.html.twig" with {data:{ids: ['buttonIdLeft','buttonIdMiddle','buttonIdRight'], names: ['buttonNameLeft','buttonNameMiddle','buttonNameRight'], texts: ['Left','Middle','Right'], classes: ['btn-default','btn-default','btn-default']}} %}
#}

<div class="btn-group {% if data.class is defined %}{{ data.class }}{% endif %}" role="toolbar" aria-label="...">
    {% for id in data.ids %}
        <button{% if data.ids[loop.index0] is defined %} id="{{ data.ids[loop.index0] }}"{% endif %}{% if data.names[loop.index0] is defined %} name="{{ data.names[loop.index0] }}"{% endif %}
                type="button" class="btn{% if data.classes[loop.index0] is defined %} {{ data.classes[loop.index0] }}{% endif %}">
            {% if data.texts[loop.index0] is defined %}
                {{ data.texts[loop.index0] | raw }}
            {% endif %}
        </button>
    {% endfor %}
</div>
