{#
    @file button-group.html.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Button Group component.

    @var class:       btn-group-lg, btn-group-sm, btn-group-xs, btn-group-vertical
    @var ids:         Array of ids
    @var names:       Array of names
    @var texts:       Array of texts
    @var classes:     Array of classes, btn-default, btn-success, btn-info, btn-warning, btn-danger or button sizes

    WARNING: Length of arrays (must be the same)

    How to use it:
        {% include "@Core/components/button-group.html.twig" with {data:{ids: ['buttonIdLeft','buttonIdMiddle','buttonIdRight'], names: ['buttonNameLeft','buttonNameMiddle','buttonNameRight'], texts: ['Left','Middle','Right'], classes: ['btn-default','btn-default','btn-default']}} %}
#}


{% set class = data.class | default('btn-group-lg') %}
{% set role = data.role | default('group') %}
{% set ids = data.ids | default(['#1', '#2' , '#3']) %}
{% set names = data.names | default(['Left', 'Middle' , 'Right']) %}
{% set texts = data.texts | default(['Left', 'Middle' , 'Right']) %}
{% set classes = data.classes | default(['btn btn-default', 'btn btn-default' , 'btn btn-default']) %}


<div class="{{ class }}" role="{{ role }}" aria-label="...">
	{% for id in ids %}
	<button id="{{ ids[loop.index0] }}" name="{{ names[loop.index0] }}" type="button" class={{ classes[loop.index0] }}">
                {{ texts[loop.index0] | raw }}
        </button>
    {% endfor %}
</div>
