{#
    @file button.html.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Button component.

    @var id:          Your id
    @var name:        Your name
    @var class:       btn-default, btn-success, btn-info, btn-warning, btn-danger or button sizes
    @var text:        Button text
    @var style:       link, button, input
    @var type:        submit, button, null
    @var link:        link

    How to use it:
        <a>
          {% include "components/button.html.twig" with {data:{id:'myButtonId', name:'myButtonName', class: 'btn-default', text: 'Button', style: 'link', type: null, link: '#'}} %}
        <button>
          {% include "components/button.html.twig" with {data:{id:'myButtonId', name:'myButtonName', class: 'btn-default', text: 'Button', style: 'button', type: 'button', link: null}} %}
        <input>
          {% include "components/button.html.twig" with {data:{id:'myButtonId', name:'myButtonName', class: 'btn-default', text: 'Button', style: 'input', type: 'submit', link: null}} %}
#}

{% if data.style is defined and data.style == 'link' %}
    <a{% if data.id is defined %} id="{{ data.id }}"{% endif %}{% if data.name is defined %} name="{{ data.name }}"{% endif %}
            class="btn{% if data.class is defined %} {{ data.class }}{% endif %}"
            {% if data.link is defined %} href="{{ data.link }}"{% endif %} role="button">
        {% if data.text is defined %}
            {{ data.text | raw }}
        {% endif %}
    </a>
{% elseif data.style is defined and data.style == 'button' %}
    <button{% if data.id is defined %} id="{{ data.id }}"{% endif %}{% if data.name is defined %} name="{{ data.name }}"{% endif %}
            class="btn{% if data.class is defined %} {{ data.class }}{% endif %}"
            {% if data.type is defined %} type="{{ data.type }}"{% endif %}>
        {% if data.text is defined %}
            {{ data.text | raw }}
        {% endif %}
    </button>
{% elseif data.style is defined and data.style == 'input' %}
    <input{% if data.id is defined %} id="{{ data.id }}"{% endif %}{% if data.name is defined %} name="{{ data.name }}"{% endif %}
            class="btn{% if data.class is defined %} {{ data.class }}{% endif %}"
            {% if data.type is defined %} type="{{ data.type }}"{% endif %}
            {% if data.text is defined %}value="{{ data.text | raw }}"{% endif %}>
{% else %}
    Something is wrong with your code!
{% endif %}
