{#
    @file button.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Button component.

    @var id:          Your id
    @var name:        Your name
    @var class:       btn-default, btn-success, btn-info, btn-warning, btn-danger or button sizes
    @var text:        Button text
    @var style:       link, button, input
    @var type:        submit, button, null
    @var link:        link

    How to use it:
        <a>
          {% include "Components/BS3/button.twig" with {id:'myButtonId', name:'myButtonName', class: 'btn-default', text: 'Button', style: 'link', type: null, link: '#'} %}
        <button>
          {% include "Components/BS3/button.twig" with {id:'myButtonId', name:'myButtonName', class: 'btn-default', text: 'Button', style: 'button', type: 'button', link: null} %}
        <input>
          {% include "Components/BS3/button.twig" with {id:'myButtonId', name:'myButtonName', class: 'btn-default', text: 'Button', style: 'input', type: 'submit', link: null} %}
#}

{% if style is defined and style == 'link' %}
    <a{% if id is defined %} id="{{ id }}"{% endif %}{% if name is defined %} name="{{ name }}"{% endif %}
            class="btn{% if class is defined %} {{ class }}{% endif %}"
            {% if link is defined %} href="{{ link }}"{% endif %} role="button">
        {% if text is defined %}
            {{ text | raw }}
        {% endif %}
    </a>
{% elseif style is defined and style == 'button' %}
    <button{% if id is defined %} id="{{ id }}"{% endif %}{% if name is defined %} name="{{ name }}"{% endif %}
            class="btn{% if class is defined %} {{ class }}{% endif %}"
            {% if type is defined %} type="{{ type }}"{% endif %}>
        {% if text is defined %}
            {{ text | raw }}
        {% endif %}
    </button>
{% elseif style is defined and style == 'input' %}
    <input{% if id is defined %} id="{{ id }}"{% endif %}{% if name is defined %} name="{{ name }}"{% endif %}
            class="btn{% if class is defined %} {{ class }}{% endif %}"
            {% if type is defined %} type="{{ type }}"{% endif %}
            {% if text is defined %}value="{{ text | raw }}"{% endif %}>
{% else %}
    Something is wrong with your code!
{% endif %}
