{#
    @file button.html.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Button component.

    @var id:          Your id
    @var name:        Your name
    @var class:       btn-default, btn-success, btn-info, btn-warning, btn-danger or button sizes
    @var text:        Button text
    @var style:       link, button, input
    @var type:        submit, button, null
    @var link:        link

    How to use it:
        <a>
          {% set buttonData1= {
				id:'myButtonId',
				name:'myButtonName',
				class: 'btn btn-default',
				text: 'Button',
				style: 'link',
				type: null,
				link: '#'} %}
			
		  {% include "@Core/components/button.html.twig" with {data: buttonData1} %}
		  
        <button>
        
        {% set buttonData0 = {} %}
		{% include "@Core/components/button.html.twig" with {data: buttonData0} %}
        
        <input>
        
          {% set buttonData2 = {
		id:'myButtonId2',
		name:'myButtonName',
		class: 'btn btn-danger',
		text: 'Button',
		style: 'input',
		type: 'submit',
		link: null
	} %}
	{% include "@Core/components/button.html.twig" with {data: buttonData2} %}
#}

{% set randValue = random() %}

{% set id = data.id | default('buttonId' ~ randValue) %}
{% set name = data.name | default('buttonName' ~ randValue) %}
{% set class = data.class | default('btn btn-primary') %}
{% set text = data.text | default('Message not setted') %}
{% set style = data.style | default('button') %}
{% set type = data.type | default('button') %}
{% set link = data.link | default('#') %}

{% if style == 'link' %}
    <a id="{{ id }}" name="{{ name }}" class="{{ class }}" href="{{ link }}" role="button">
        {{ text | raw }}
    </a>
{% elseif style == 'button' %}
    <button id="{{ id }}" name="{{ name }}" class="{{ class }}" type="{{ type }}">
        {{ text | raw }}
    </button>
{% elseif style == 'input' %}
    <input id="{{ id }}" name="{{ name }}" class="{{ class }}" type="{{ type }}" value="{{ text | raw }}">
{% else %}
    Style not supported
{% endif %}