{#
@file card.html.twig
@author Alxarafe <info@alxarafe.com>

Default theme implementation to display a Bootstrap Card component.

@var id:           Your id
@var name:         Your name
@var style:        Your style
@var imageTop:     Your top image
@var imageAlt:     Your alt image
@var cardTitle:    Your card title
@var cardSubtitle: Your card subtitle
@var cardText:     Your card text
@var cardButtons:  Your card buttons

How to use it:
    {% include "@Core/components/card.html.twig" with {id:'myCardId1', name:'myCardName1', cardText: 'Esto es un placeholder', cardTitle: 'Title'} %}
    {% include "@Core/components/card.html.twig" with {id:'myCardId2', name:'myCardName2', cardText: 'Acepto', cardTitle: 'Title'} %}
#}

{% set randValue = random() %}

{% set id = id | default('cardId' ~ randValue) %}
{% set name = name | default('cardName' ~ randValue) %}
{% set class = class | default('card') %}

<div id="{{ id }}" name="{{ name }}" class="{{ class }}" {% if style is defined %}style="{{ style }}"{% endif %}>
    {% if imageTop is defined %}
        <img class="card-img-top" src="{{ imageTop }}"{% if imageAlt is defined %} alt="{{ imageAlt }}">{% endif %}
    {% endif %}
    <div class="card-body">
        {% if cardTitle is defined %}
            <h5 class="card-title">{{ cardTitle }}</h5>
        {% endif %}
        {% if cardSubtitle is defined %}
            <h6 class="card-subtitle mb-2 text-muted">{{ cardSubtitle }}</h6>
        {% endif %}
        {% if cardText is defined %}
            <p class="card-text">{{ cardText | raw }}</p>
        {% endif %}
        {% if cardButtons is defined %}
            {{ cardButtons | raw }}
        {% endif %}
    </div>
</div>
