{#
    @file card.html.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Card component.

    @var id:           Your id
    @var name:         Your name
    @var style:        Your style
    @var imageTop:     Your top image
    @var imageAlt:     Your alt image
    @var cardTitle:    Your card title
    @var cardSubtitle: Your card subtitle
    @var cardText:     Your card text
    @var cardButtons:  Your card buttons

    How to use it:
        {% include "components/card.html.twig" with {data:{id:'myCardId1', name:'myCardName1', cardText: 'Esto es un placeholder', cardTitle: 'Title'}} %}
        {% include "components/card.html.twig" with {data:{id:'myCardId2', name:'myCardName2', cardText: 'Acepto', cardTitle: 'Title'}} %}
#}

<div class="card" {% if data.id is defined %} id="{{ data.id }}"{% endif %}{% if data.name is defined %} name="{{ data.name }}"{% endif %}{% if data.style is defined %} style="{{ data.style }}"{% endif %}>
    {% if data.imageTop is defined %}
        <img class="card-img-top" src="{{ data.imageTop }}"{% if data.imageAlt is defined %} alt="{{ data.imageAlt }}">{% endif %}
    {% endif %}
    <div class="card-body">
        {% if data.cardTitle is defined %}
            <h5 class="card-title">{{ data.cardTitle }}</h5>
        {% endif %}
        {% if data.cardSubtitle is defined %}
            <h6 class="card-subtitle mb-2 text-muted">{{ data.cardSubtitle }}</h6>
        {% endif %}
        {% if data.cardText is defined %}
            <p class="card-text">{{ data.cardText | raw }}</p>
        {% endif %}
        {% if data.cardButtons is defined %}
            {{ data.cardButtons | raw }}
        {% endif %}
    </div>
</div>
