{#
    @file checkbox.html.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Checkbox component.

    @var data:             Can contains all this key => value:
    @var data.id:          Your id
    @var data.name:        Your name
    @var data.text:        Button text
    @var data.type:        input, label

    How to use it:
        <input>
            {% include "@Core/components/checkbox.html.twig" with {data:{id:'myCheckboxId1', name:'myCheckboxName1', text: 'Esto es un placeholder', type: 'input'}} %}
        <label>
            {% include "@Core/components/checkbox.html.twig" with {data:{id:'myCheckboxId2', name:'myCheckboxName2', text: 'Acepto', type: 'label'}} %}
#}
{% if data.type is defined and data.type == 'input' %}
    <div class="input-group">
          <span class="input-group-addon">
            <input{% if data.id is defined %} id="{{ data.id }}"{% endif %}{% if data.name is defined %} name="{{ data.name }}"{% endif %}
                    type="checkbox"
                    aria-label="...">
          </span>
        <input type="text" class="form-control" {% if data.text is defined %}placeholder="{{ data.text | raw }}"{% endif %}
               aria-label="...">
    </div>
{% elseif data.type is defined and data.type == 'label' %}
    <label>
        <input{% if data.id is defined %} id="{{ data.id }}"{% endif %}{% if data.name is defined %} name="{{ data.name }}"{% endif %}
                type="checkbox"> {% if data.text is defined %}{{ data.text | raw }}{% endif %}
    </label>
{% endif %}