{#
    @file dropdown.html.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Dropdown component.

    @var id:          Your id
    @var name:        Your name
    @var class:       btn-default, btn-success, btn-info, btn-warning, btn-danger or button sizes
    @var type:        dropdown, dropup
    @var text:        Your button text
    @var alignement:  dropdown-menu-left, dropdown-menu-right
    @var texts:       Array of texts      text or null
    @var links:       Array of links:     link or null
    @var classes:     Array of classes:   dropdown-header, divider, disabled or ' '

    How to use it:
        {% include "@Core/components/dropdown.html.twig" with {data:{id:'myDropdownMenuId', name:'myDropdownMenuName', class: 'btn-default', type: 'dropdown', text: 'Dropdown button', alignement: 'dropdown-menu-right', texts: ['Dropdown header', 'Action1', 'Another action', 'Something else here', null, 'Dropdown header', 'Separated link'], links: [null, '#action1', '#another_action', '#something_else_here', null, null, '#separated_link'], classes: ['dropdown-header', null, null, null, 'divider', 'dropdown-header', null]}} %}
#}
{% set randValue = random() %}

{% set type = data.type | default('dropdown' ) %}
{% set class = dataclass | default('btn btn-default dropdown-toggle') %}
{% set id = data.id | default('dropdown') %}
{% set name = data.name | default('dropdown') %}
{% set textype = data.textype | default('dropdown') %}
{% set alignement = data.alignement | default('dropdown-menu-left') %}
{% set classes = data.classes | default (['', '' , 'divider' , '']) %}
{% set texts = data.texts | default(['Collapsible Group Item #1', 'Collapsible Group Item #2' , '', 'Collapsible Group Item #3']) %}
{% set links = data.links | default(['https://www.marca.com', 'Collapsible Group Item #2' ,'' , 'Collapsible Group Item #3']) %}


<div class="{{ type }}">
    <button class="{{ class }}" type="button" id="{{ id }}" name="{{ name }}" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
        {{ textype }}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu {{ alignement }}" aria-labelledby="{{ id }}">
        {% for id in texts %}
            {% if classes[loop.index0] == 'dropdown-header' %}
                <li class="dropdown-header">
                    {{ texts[loop.index0] | raw }}
                </li>
            {% elseif classes[loop.index0]  == 'divider' %}
                <li role="separator" class="divider"></li>
            {% elseif classes[loop.index0]  == 'disabled' %}
                <li class="disabled">
                    {{ texts[loop.index0] | raw }}
                </li>
            {% elseif classes[loop.index0] == '' %}
                <li>
                    <a href="{{ links[loop.index0] }}">{{ texts[loop.index0] | raw }}</a>
                </li>
            {% else %}
                Something is wrong with your code!
            {% endif %}
        {% endfor %}
    </ul>
</div>