{#
    @file input-button.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Input+Button component.

    @var id:          Your id
    @var name:        Your name
    @var class:       Your class
    @var position:    left, right
    @var texts:       Your texts, in order for respective input-group

    How to use it:
        {% include "@Core/components/input-button.html.twig" with {data:{id:'myInputButtonId', name:'myInputButtonName', class: '', position: 'left', texts: ['Text1', 'Text2']}} %}
        {% include "@Core/components/input-button.html.twig" with {data:{id:'myInputButtonId', name:'myInputButtonName', class: '', position: 'right', texts: ['Text1', 'Text2']}} %}
#}

<div class="input-group{% if class is defined %} {{ class }}{% endif %}">
    {% if position is defined and position == 'left' %}
        <span class="input-group-btn">
            <button{% if id is defined %} id="button_{{ id }}"{% endif %}{% if name is defined %} name="button_{{ name }}"{% endif %}
                    class="btn btn-default" type="button">
              {% if texts[0] is defined %}{{ texts[0] | raw }}{% endif %}
            </button>
        </span>
        <input{% if id is defined %} id="input_{{ id }}"{% endif %}{% if name is defined %} name="input_{{ name }}"{% endif %}
                type="text"
                class="form-control"{% if texts[1] is defined %} placeholder="{{ texts[1] | raw }}"{% endif %}>
    {% elseif position is defined and position == 'right' %}
        <input{% if id is defined %} id="input_{{ id }}"{% endif %}{% if name is defined %} name="input_{{ name }}"{% endif %}
                type="text"
                class="form-control" {% if texts[0] is defined %}placeholder="{{ texts[0] | raw }}"{% endif %}>
        <span class="input-group-btn">
            <button{% if id is defined %} id="button_{{ id }}"{% endif %}{% if name is defined %} name="button_{{ name }}"{% endif %}
                    class="btn btn-default" type="button">
              {% if texts[1] is defined %}{{ texts[1] | raw }}{% endif %}
            </button>
      </span>
    {% else %}
        Something is wrong with your code!
    {% endif %}
</div>