{#
    @file media-object.html.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Media Object component.

    @var id:          Your id
    @var name:        Your name
    @var titles:      Array of titles
    @var texts:       Array of texts
    @var imgSrc:      Array of images src
    @var imgHPos:     Array of image horizontal position (left    or right)
    @var imgVPos:     Array of image vertical position (top, middle, bottom)
    @var imgAlt:      Array of image alt
    @var imgStyle:    Array of image style

    WARNING: Length of arrays (must be the same)

    How to use it:
        {% include "@Core/components/media-object.html.twig" with {id:'idImg', name:'nameImg', titles:'', texts:'', imgSrc:'imgSrcPath', imgHPos:'', imgVPos:'', imgAlt:'', imgStyle:''} %}
#}

<div class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;"
                 src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTU4ZGUzNjhiYiB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NThkZTM2OGJiIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy44NzUiIHk9IjM2LjUiPjY0eDY0PC90ZXh0PjwvZz48L2c+PC9zdmc+"
                 data-holder-rendered="true">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Top aligned media</h4>
        {% if titles[loop.index0] is defined %}
            <h5 class="{{ textClass }}">{{ titles[loop.index0] | raw }}</h5>
        {% endif %}
        {% if texts[loop.index0] is defined %}
            {{ texts[loop.index0] | raw }}
        {% endif %}
    </div>
</div>

<div class="media">
    <div class="media-left media-middle">
        <a href="#">
            <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;"
                 src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTU4ZGUzMTQwNSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NThkZTMxNDA1Ij48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy44NzUiIHk9IjM2LjUiPjY0eDY0PC90ZXh0PjwvZz48L2c+PC9zdmc+"
                 data-holder-rendered="true">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Middle aligned media</h4>
        {% if titles[loop.index0] is defined %}
            <h5 class="{{ textClass }}">{{ titles[loop.index0] | raw }}</h5>
        {% endif %}
        {% if texts[loop.index0] is defined %}
            {{ texts[loop.index0] | raw }}
        {% endif %}
    </div>
</div>

<div class="media">
    <div class="media-left media-bottom">
        <a href="#">
            <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;"
                 src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTU4ZGUyZmZlMCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NThkZTJmZmUwIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy44NzUiIHk9IjM2LjUiPjY0eDY0PC90ZXh0PjwvZz48L2c+PC9zdmc+"
                 data-holder-rendered="true">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Bottom aligned media</h4>
        {% if titles[loop.index0] is defined %}
            <h5 class="{{ textClass }}">{{ titles[loop.index0] | raw }}</h5>
        {% endif %}
        {% if texts[loop.index0] is defined %}
            {{ texts[loop.index0] | raw }}
        {% endif %}
    </div>
</div>

{% set randValue = random() %}

{% set id = id | default('inputId' ~ randValue) %}
{% set name = name | default('inputName' ~ randValue) %}
{% set type = type | default('text') %}
{% set class = class | default('') %}
{% set value = value | default('') %}
{% set min = min | default('') %}
{% set max = max | default('') %}
{% set pattern = pattern | default('') %}
{% set placeholder = placeholder | default('') %}

<div class="media">
    <div class="media-left media-bottom">
        <a href="#">
            <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;"
                 src="{{ value }}"
                 data-holder-rendered="true">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Bottom aligned media</h4>
        {% if titles[loop.index0] is defined %}
            <h5 class="{{ textClass }}">{{ titles[loop.index0] | raw }}</h5>
        {% endif %}
        {% if texts[loop.index0] is defined %}
            {{ texts[loop.index0] | raw }}
        {% endif %}
    </div>
</div>
