{#
    @file modal.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Modal component.

    @var id:           Your id
    @var name:         Your name
    @var imageAlt:     Your alt image
    @var modalTitle:    Your modal title
    @var modalText:     Your modal text
    @var modalButtons:  Your modal buttons

    How to use it:
        {% include "@Core/components/modal.html.twig" with {data:{id:'myModalId1', name:'myModalName1', modalText: 'Esto es un placeholder', modalTitle: 'Title'}} %}
        {% include "@Core/components/modal.html.twig" with {data:{id:'myModalId2', name:'myModalName2', modalText: 'Acepto', modalTitle: 'Title'}} %}
#}

{% set randValue = random() %}

{% set id = data.id | default('ModalID') %}
{% set name = data.name | default('ModalID') %}
{% set modalTitle = data.modalTitle | default('Modal de Prueba') %}
{% set modalText = data.modalText | default('Modal de Prueba') %}
{% set modalButtons = data.modalButtons | default('<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>','<button type="button" class="btn btn-primary">Save changes</button>') %}


<div class="modal fade" id="{{ id }}" name="{{ name }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
	        <div class="modal-header"><h5 class="modal-title">{{ modalTitle | raw }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
	        <div class="modal-body"><p class="modal-text">{{ modalText | raw }}</p></div>
	        <div class="modal-footer">{{ modalButtons | raw }}</div>
        </div>
    </div>
</div>
