{#
    @file nav.html.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Navs component.

    @var id:          Your id
    @var name:        Your name
    @var type:        nav-tabs, nav-pills (nav-stacked, nav-justified)
    @var classes:     Array of classes items: active, disabled or null
    @var texts:       Array of your texts items
    @var links:       Array of links items

    How to use it:
        {% include "@Core/components/nav.html.twig" with {id:'myNavId1', name:'myNavName1', type:'nav-tabs', classes: ['active', null, null], texts: ['Home', 'Profile', 'Messages'], links: ['#home', '#profile', '#messages']} %}
        {% include "@Core/components/nav.html.twig" with {id:'myNavId2', name:'myNavName2', type:'nav-tabs nav-justified', classes: ['active', null, null], texts: ['Home', 'Profile', 'Messages'], links: ['#home', '#profile', '#messages']} %}
        {% include "@Core/components/nav.html.twig" with {id:'myNavId3', name:'myNavName3', type:'nav-tabs nav-stacked', classes: ['active', null, null], texts: ['Home', 'Profile', 'Messages'], links: ['#home', '#profile', '#messages']} %}
        {% include "@Core/components/nav.html.twig" with {id:'myNavId4', name:'myNavName4', type:'nav-pills', classes: ['active', null, null], texts: ['Home', 'Profile', 'Messages'], links: ['#home', '#profile', '#messages']} %}
        {% include "@Core/components/nav.html.twig" with {id:'myNavId5', name:'myNavName5', type:'nav-pills nav-justified', classes: ['active', null, null], texts: ['Home', 'Profile', 'Messages'], links: ['#home', '#profile', '#messages']} %}
        {% include "@Core/components/nav.html.twig" with {id:'myNavId6', name:'myNavName6', type:'nav-pills nav-stacked', classes: ['active', null, null], texts: ['Home', 'Profile', 'Messages'], links: ['#home', '#profile', '#messages']} %}
#}

{% set randValue = random() %}

{% set id = id | default('navId' ~ randValue) %}
{% set name = name | default('navName' ~ randValue) %}
{% set type = type | default('nav-tabs') %}

<ul id="{{ id }}" name="{{ name }}" class="nav {{ type }}">
    {% for i in texts %}
        {% if links[loop.index0] is defined and links[loop.index0]!=null %}
            <li role="presentation"{% if classes[loop.index0] is defined and classes[loop.index0] != null %} class="{{ classes[loop.index0] }}"{% endif %}>
                <a href="{{ links[loop.index0] }}">
                    {% if texts[loop.index0] is defined %}
                        {{ texts[loop.index0] | raw }}
                    {% endif %}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
