{#
    @file page-header.html.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Page Header component.

    @var id:          Your id
    @var name:        Your name
    @var title:       Your title
    @var header:      h1, h2, h3, ...
    @var small:       Your small title

    How to use it:
        {% include "components/page-header.html.twig" with {data:{id:'myPageHeaderId1', name:'myPageHeaderName1', title: 'My header1', header: '', small: 'Small header info1'}} %}
        {% include "components/page-header.html.twig" with {data:{id:'myPageHeaderId2', name:'myPageHeaderName2', title: 'My header2', small: 'Small header info2'}} %}
#}

<div{% if id is defined %} id="{{ id }}"{% endif %}{% if name is defined %} name="{{ name }}"{% endif %}
        class="page-header">
    {% if header is defined and header != '' %}
        <{{ header }}>
    {% else %}
        <h1>
    {% endif %}

    {% if title is defined and title != '' %}
        {{ title | raw }}
    {% endif %}
    {% if small is defined and small != '' %}
        <small>{{ small | raw }}</small>
    {% endif %}

    {% if header is defined and header != '' %}
        </{{ header }}>
    {% else %}
        </h1>
    {% endif %}
</div>
