{#
    @file pagination.html.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Pagination component.

    @var links:       Array of links
    @var texts:       Array of text
    @var classes:     Array of classes

    How to use it:
        {% include "@Core/components/BS4/pagination.html.twig" with {data:{}} %}
#}

<nav>
    <ul class="pagination">
        <li class="page-item {{ arrowsClass[0] }}">
            <a class="page-link" href="{{ arrowsLink[0] }}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% for link in links %}
            <li class="page-item {{ classes[loop.index0] }}">
                <a class="page-link" href="{{ link }}">
                    {{ texts[loop.index0] | raw }}
                </a>
            </li>
        {% endfor %}
        <li class="page-item {{ arrowsClass[1] }}">
            <a class="page-link" href="{{ arrowsLink[1] }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
