{#
    @file radio.html.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Radio component.

    @var id:          Your id
    @var name:        Your name
    @var message:     Your text message
    @var type:        input or label

    How to use it:
        {% include "@Core/components/radio.html.twig" with {data:{id:'myRadioId', name:'myRadioName', message: '<strong>Hello World</strong> Testing templating BS components with Twig!'}} %}
        <input>
            {% include "@Core/components/radio.html.twig" with {data:{id:'myRadioId1', name:'myRadioName1', text: 'Esto es un placeholder', type: 'input'}} %}
        <label>
            {% include "@Core/components/radio.html.twig" with {data:{id:'myRadioId2', name:'myRadioName2', text: 'Recuerdame', type: 'label'}} %}
#}

{% set randValue = random() %}

{% set id = data.id | default('badgeid' ~ randValue) %}
{% set name = data.name | default('badgeName' ~ randValue) %}
{% set class = data.class | default('badge badge-light') %}
{% set badge = data.badge | default(randValue) %}

{% if type is defined and type == 'input' %}
    <div class="input-group">
          <span class="input-group-addon">
            <input{% if id is defined %} id="{{ id }}"{% endif %}{% if name is defined %} name="{{ name }}"{% endif %}
                    type="radio"
                    aria-label="...">
          </span>
        <input type="text" class="form-control"{% if text is defined %} placeholder="{{ text | raw }}"{% endif %}
               aria-label="...">
    </div>
{% elseif type is defined and type == 'label' %}
    <label>
        <input{% if id is defined %} id="{{ id }}"{% endif %}{% if name is defined %} name="{{ name }}"{% endif %}
                type="radio">{% if text is defined %} {{ text | raw }}{% endif %}
    </label>
{% else %}
    Something is wrong with your code!
{% endif %}