{#
    @file radio.html.twig
    @author Alxarafe <info@alxarafe.com>

    Default theme implementation to display a Bootstrap Radio component.

    @var id:          Your id
    @var name:        Your name
    @var message:     Your text message
    @var type:        input or label

    How to use it:
        {% include "@Core/components/radio.html.twig" with {id:'myRadioId', name:'myRadioName', message: '<strong>Hello World</strong> Testing templating BS components with Twig!'} %}
        <input>
            {% include "@Core/components/radio.html.twig" with {id:'myRadioId1', name:'myRadioName1', text: 'Esto es un placeholder', type: 'input'} %}
        <label>
            {% include "@Core/components/radio.html.twig" with {id:'myRadioId2', name:'myRadioName2', text: 'Recuerdame', type: 'label'} %}
#}

{% set randValue = random() %}

{% set type = type | default('input') %}
{% set id = id | default('radioID' ~ randValue) %}
{% set name = name | default('radioName' ~ randValue) %}
{% set type = type | default('input') %}
{% set text = text | default('') %}

{% if type == 'input' %}
    <div class="input-group">
	    <span class="input-group-addon">
            <input id="{{ id }}" name="{{ name }}" type="radio" aria-label="...">
        </span>
        <input type="text" class="form-control" placeholder="{{ text | raw }}" aria-label="...">
    </div>
{% elseif type == 'label' %}
    <label>
        <input id="{{ id }}" name="{{ name }}" type="radio"> {{ text | raw }}
    </label>
{% else %}
    Something is wrong with your code!
{% endif %}
