{#
@file select.html.twig
@author Alxarafe <info@alxarafe.com>

Default theme implementation to display a Bootstrap Select component.

@var id:          Your id
@var name:        Your name
@var class:       input-sm, input-lg
@var multiple:    false/true
@var texts:       Array of texts
@var values:      Array of values

How to use it:
    {% include "@Core/components/select.html.twig" with {id:'mySelectId', name:'mySelectName', class: 'input-sm', multiple: true} %}
#}

{% set randValue = random() %}

{% set id = id | default('select' ~ randValue) %}
{% set name = name | default('select' ~ randValue) %}
{% set multiple = multiple | default(false) %}
{% set values = values | default(['1', '2' , '3']) %}
{% set texts = texts | default(['Sample #1', 'Sample #2' , 'Sample #3']) %}
{% set multiple = multiple | default(false) %}
{% if multiple != false %}
    {% set multiple = "multiple" %}
{% else %}
    {% set multiple = "" %}
{% endif %}

{% set url = context.url | default('') %}
{% set ajaxUrl = url ~ '&method=ajaxSearch&table=' ~ values.referencedtable %}

<select id="{{ id }}" name="{{ name }}" {{ multiple }} class="form-control select2-ajax" style="width: 100%;"
        {% for key, value in dataAttr %}
            data-{{ key }}="{{ value }}"
        {% endfor %}
>
    {#
    {% for i in texts %}
        <option value="{{ values[loop.index0] }}">{{ texts[loop.index0] | raw }}</option>
    {% endfor %}
    #}
</select>
