{#
@file div.html.twig
@author Alxarafe <info@alxarafe.com>

Default theme implementation to display a Bootstrap Input+Button component.

@var id:          Your id
@var name:        Your name
@var class:       Your class
@var value:     Your content

How to use it:
    {% include "@Core/components/div.html.twig" with {id:'divId', name:'divName', class: '', value: ''} %}
    {% include "@Core/components/div.html.twig" with {id:'divId', name:'divName', class: '', value: ''} %}
#}

{% set randValue = random() %}

{% set id = id | default('touchSpinId' ~ randValue) %}
{% set name = name | default('touchSpinName' ~ randValue) %}
{% set class = class | default('touchspin') %}
{% set value = value | default('') %}

<div id="{{ id }}" name="{{ name }}" class="{{ class }}">
    {{ value | raw }}
</div>

<div class="input-group bootstrap-touchspin">
    <span class="input-group-btn input-group-prepend bootstrap-touchspin-injected">
        <button class="btn btn-primary bootstrap-touchspin-down" type="button">
            <i class="ft-minus"></i>
        </button>
    </span>
    <input type="text" id="{{ id }}" name="{{ name }}" class="form-control {{ class }}" value="{{ value }}">
    <span class="input-group-btn input-group-append bootstrap-touchspin-injected">
        <button class="btn btn-primary bootstrap-touchspin-up" type="button">
            <i class="ft-plus"></i>
        </button>
    </span>
</div>
