{#
 ~ Alxarafe. Development of PHP applications in a flash!
 ~ Copyright (C) 2018-2019 Alxarafe <info@alxarafe.com>
#}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% set url = getUrl('/index.php') %}
            <a class="navbar-brand" href="{{ url }}">
                <i class="fas fa-home"></i>
                &nbsp; Alxarafe
            </a>
        </div>
        <div id="navbar-collapse" class="collapse navbar-collapse">
            {% if ctrl.user %}
                {# TODO: This would be a recursive call to genereate every item or submenu #}
                <ul class="nav navbar-nav navbar-left">
                    {% for posMenu, menu in ctrl.getUserMenu() %}
                        {% if posMenu|trim is same as(posMenu) %}
                            <li class="dropdown{% if posMenu == ctrl.pageDetails()['menu'] %} active{% endif %}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    {{ trans(posMenu) }}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    {% for posSubmenu, submenu in menu %}
                                        <li{% if submenu.controller == ctrl.shortName %} class="active"{% endif %}>
                                            {% set url = getUrl('/index.php?' ~ constant('CALL_CONTROLLER') ~ '=' ~ submenu.controller ~ '&' ~ constant('METHOD_CONTROLLER') ~ '=' ~ constant('DEFAULT_METHOD')) %}
                                            <a href="{{ url }}">
                                                {{ unescape(submenu.icon)|raw }}
                                                &nbsp; {{ trans(submenu.title) }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                {% for posSubmenu, submenu in menu %}
                                    {% set url = getUrl('/index.php?' ~ constant('CALL_CONTROLLER') ~ '=' ~ submenu.controller ~ '&' ~ constant('METHOD_CONTROLLER') ~ '=' ~ constant('DEFAULT_METHOD')) %}
                                    <a href="{{ url }}">
                                        {{ unescape(submenu.icon)|raw }}
                                        &nbsp; {{ trans(submenu.title) }}
                                    </a>
                                {% endfor %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% if ctrl.user %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                            &nbsp; {{ ctrl.user.getUsername() }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                {% set url = getUrl('/index.php?' ~ constant('CALL_CONTROLLER') ~ '=Users&' ~ constant('METHOD_CONTROLLER') ~ '=edit&' ~ ctrl.user.getIdField() ~ '=' ~ ctrl.user.id) %}
                                <a href="{{ url }}">
                                    <i class="far fa-edit"></i>
                                    &nbsp; {{ trans('edit-my-data') }}
                                </a>
                            </li>
                            <li>
                                {% set url = getUrl('/index.php?' ~ constant('CALL_CONTROLLER') ~ '=Login&' ~ constant('METHOD_CONTROLLER') ~ '=logout') %}
                                <a href="{{ url }}">
                                    <i class="fas fa-sign-out-alt"></i>
                                    &nbsp; {{ trans('logout') }}
                                </a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="dropdown">
                        {% set url = getUrl('/index.php?' ~ constant('CALL_CONTROLLER') ~ '=Login') %}
                        <a href="{{ url }}">
                            <i class="fas fa-sign-in-alt"></i>
                            &nbsp; {{ trans('login') }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>