{#
 ~ Alxarafe. Development of PHP applications in a flash!
 ~ Copyright (C) 2018 Alxarafe <info@alxarafe.com>
#}
{% extends "index.twig" %}

{% block title %}{{ lang.trans('update') }} {{ ctrl.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ view.getResourceUri('/css/common.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h3>{{ lang.trans('no-access') }}</h3>
        </div>
    </div>
{% endblock %}

{% block javascriptsFooter %}
    {{ parent() }}
    <script type="text/javascript" src="{{ view.getResourceUri('/js/common.js') }}"></script>
{% endblock %}