{#
 ~ Alxarafe. Development of PHP applications in a flash!
 ~ Copyright (C) 2018-2019 Alxarafe <info@alxarafe.com>
#}
{% extends "index.twig" %}

{% block body %}
        <div class="container-fluid">
            {% if (message) %}{{ message }}{% endif %}

            <div class="row">
                <div class="col-sm-12">
                    {{ trans('select-tables-to-generate-models-controllers') }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-3">
                            <b>{{ trans('table-name') }}</b>
                        </div>
                        <div class="col-sm-3">
                            <b>{{ trans('path-to-file') }}</b>
                        </div>
                        <div class="col-sm-3">
                            <b>{{ trans('model-name') }}</b>
                        </div>
                        <div class="col-sm-3">
                            <b>{{ trans('controller-name') }}</b>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 text-center">
                    <b>{{ trans('action') }}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">&nbsp;</div>
            </div>
            <div class="row">
                {% for tableName, filePath in ctrl.tables %}
                    <form action="{{ constant('BASE_URI') }}/index.php?{{ constant('CALL_CONTROLLER') }}=GenerateFromStructure&{{ constant('METHOD_CONTROLLER') }}=main" method='post' accept-charset="utf-8">
                        <div class="col-sm-10">
                            <div class="row">
                                {% set modelName = snakeToCamel(tableName) %}
                                {% set controllerName = snakeToCamel(tableName) %}
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="table" value="{{ tableName }}" readonly>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="file" value="{{ filePath }}" readonly>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="model" value="{{ modelName }}">
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="controller" value="{{ controllerName }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button name="action" type="submit" class="btn btn-default btn-primary" value="generate-model">
                                {{ trans('generate-model') }}
                            </button>
                            <button name="action" type="submit" class="btn btn-default btn-primary" value="generate-controller">
                                {{ trans('generate-controller') }}
                            </button>
                        </div>
                    </form>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-sm-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button name="action" type="submit" class="btn btn-default btn-danger" value="cancel">
                        {{ trans('exit') }}
                    </button>
                </div>
                <div class="col-sm-6 text-right">
                    {#
                    <button name="action" type="submit" class="btn btn-default btn-primary" value="generate-all">
                        {{ trans('generate-all') }}
                    </button>
                    #}
                </div>
            </div>
        </div>
{% endblock %}
