{#
 ~ Alxarafe. Development of PHP applications in a flash!
 ~ Copyright (C) 2018-2019 Alxarafe <info@alxarafe.com>
#}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% set description = main.description | raw %}
    {% set author = main.author | raw %}
    {% if description is not empty %}
        <meta name="description" content="{{ description }}"/>
    {% endif %}
    {% if author is not empty %}
        <meta name="author" content="{{ author }}">
    {% endif %}
    <meta name="generator" content="Alxarafe"/>
    <link rel="shortcut icon" href="{{ getResourceUri('/resources/templates/img/favicon.ico') }}"/>

    <title>{% block title %}{{ lang.trans(ctrl.title) }}{% endblock %} - Alxarafe</title>

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ getResourceUri('/resources/skins/default/bower_modules/bootstrap/dist/css/bootstrap.min.css') }}">
        {#<link rel="stylesheet" type="text/css" href="{{ getResourceUri('/resources/skins/default/bower_modules/bootstrap/dist/css/bootstrap-theme.min.css') }}">#}
        <link rel="stylesheet" type="text/css" href="{{ getResourceUri('/resources/skins/default/bower_modules/bower-bootswatch-yeti/css/yeti.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ getResourceUri('/resources/skins/default/bower_modules/fontawesome/css/all.min.css') }}">
        {% for css in cssCode %}
            <link rel="stylesheet" type="text/css" href="{{ css }}"/>
        {% endfor %}
        <link rel="stylesheet" type="text/css" href="{{ getResourceUri('/resources/templates/css/alxarafe.css') }}">
        {# start of getHeader #}
        {{ getHeader() | raw }}
        {# end of getHeader #}
        {% block extraStylesheets %}{% endblock %}
    {% endblock %}
</head>
<body>

{% block menu %}{% include 'master/menu.twig' %}{% endblock %}

<div class="container-fluid" id="titlecontent" name="titlecontent">
    {% block errors %}{% include 'master/errors.twig' %}{% endblock %}

    {% block bodytitle %}
        {% if ctrl.title is not empty %}
            <h3>{{ lang.trans(ctrl.title) }}</h3>
        {% endif %}
        {% if ctrl.description is not empty %}
            <small>{{ lang.trans(ctrl.description) }}</small>{% endif %}
    {% endblock %}
</div>

<br/>

<div class="container-fluid" id="messagescontent" name="messagescontent">
    {% set messages = flash(['messages']) %}
    {% if messages is not empty %}
        {% for pos, messageData in messages %}
            <div style="width: 100%" class="alert alert-{{ messageData.type }}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>{{ lang.trans('title-messages-' ~ messageData.type) }}</h4>
                {{ messageData.msg | raw }}
            </div>
        {% endfor %}
    {% endif %}
</div>

<div class="container-fluid" id="bodycontent" name="bodycontent">
    {% block body %}{% endblock %}
</div>

<footer class="footer" id="footercontent" name="footercontent">
    <div class="container">
        <p class="text-muted">
            <span>
                {{ copyright() | raw }} -
                <a target="_blank" href="https://github.com/alxarafe/alxarafe">GitHub</a>
            </span>
            <span>
                <i class="far fa-clock"></i> {{ getTotalTime() }}
            </span>
        </p>
    </div>
</footer>

{# Including jsCode #}
{% block javascriptsFooter %}
    <script type="text/javascript" src="{{ getResourceUri('/resources/skins/default/bower_modules/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ getResourceUri('/resources/skins/default/bower_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    {# Values to be available from external JavaScript files #}
    <script type="text/javascript">
        {% include 'js/common.js.twig' %}
    </script>

    {% for js in jsCode %}
    <script type="text/javascript" src="{{ js }}"></script>
    {% endfor %}
    {% block extraJavascriptsFooter %}{% endblock %}
    {# Start of getFooter #}
    {{ getFooter() | raw }}
    {# End of getFooter #}
{% endblock %}
{# End of jsCode inclusion #}
</body>
</html>