{#
 ~ Alxarafe. Development of PHP applications in a flash!
 ~ Copyright (C) 2018-2019 Alxarafe <info@alxarafe.com>
#}
{% extends "index.twig" %}
{% block title %}
    {{ lang.trans('user-authentication') }}
{% endblock %}

{# This remove bodytitle content #}
{% block bodytitle %}{% endblock %}

{% block body %}
    <div class="container-fluid">
    {% block errors %}{% include 'master/errors.twig' %}{% endblock %}
</div>
<div class="container-fluid">
        {% set redirectUrl = '' %}
        {% if ctrl.redirectUrl is not empty %}
            {% set redirectUrl = '&redirectUrl=' ~ ctrl.redirectUrl %}
        {% endif %}
        <form class="form-signin" method="post" action="{{ constant('BASE_URI') }}/index.php?{{ constant('CALL_CONTROLLER') }}=Login&{{ constant('METHOD_CONTROLLER') }}=index{{ redirectUrl }}">
            <h2 class="form-signin-heading">{{ lang.trans('application-access') }}</h2>
            <div class="thumbnail">
                <img src="{{ getResourceUri('/img/login.png') }}" alt="">
                <div class="caption">
                    <div class="input-group">
                        <span class="input-group-addon" id="username-addon">
                            <i class="fas fa-user"></i>
                        </span>
                        <label for="username" class="sr-only">{{ lang.trans('user') }}</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="{{ lang.trans('user') }}" aria-describedby="username-addon" required autofocus>
                    </div>
                    <input type="password" id="password" name="password" class="form-control" placeholder="{{ lang.trans('password') }}" aria-describedby="password-addon" required>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember-me" value="true"> {{ lang.trans('rememberme') }}
                        </label>
                    </div>
                    <button name="action" type="submit" class="btn btn-lg btn-primary btn-block" value="login">{{ lang.trans('enter') }}
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
