{#
 ~ Alxarafe. Development of PHP applications in a flash!
 ~ Copyright (C) 2018-2019 Alxarafe <info@alxarafe.com>
#}
{% extends "@Core/index.twig" %}
{% block title %}
    {{ trans('user-authentication') }}
{% endblock %}

{# This remove bodytitle content #}
{% block bodytitle %}{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% block errors %}{% include '@Core/master/errors.twig' %}{% endblock %}
    </div>
    <div class="container-fluid">
        {% set redirectUrl = '' %}
        {% if ctrl.redirectUrl is not empty %}
            {% set redirectUrl = '&redirectUrl=' ~ ctrl.redirectUrl %}
        {% endif %}
        {% set url = getUrl('index.php?' ~ constant('CALL_CONTROLLER') ~ '=Login&' ~ constant('METHOD_CONTROLLER') ~ '=' ~ constant('DEFAULT_METHOD') ~ redirectUrl) %}
        <form class="form-signin" method="post" action="{{ url }}">
            <h2 class="form-signin-heading">{{ trans('application-access') }}</h2>
            <div class="thumbnail">
                <img src="{{ getResourceUri('/img/login.png') }}" alt="">
                <div class="caption">
                    <div class="input-group">
                        <span class="input-group-addon" id="username-addon">
                            <i class="fas fa-user"></i>
                        </span>
                        <label for="username" class="sr-only">{{ trans('user') }}</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="{{ trans('user') }}" aria-describedby="username-addon" required autofocus>
                    </div>
                    <input type="password" id="password" name="password" class="form-control" placeholder="{{ trans('password') }}" aria-describedby="password-addon" required>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember-me" value="true"> {{ trans('rememberme') }}
                        </label>
                    </div>
                    <button name="action" type="submit" class="btn btn-lg btn-primary btn-block" value="login">{{ trans('enter') }}
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
