{#
 ~ Alxarafe. Development of PHP applications in a flash!
 ~ Copyright (C) 2018 Alxarafe <info@alxarafe.com>
#}
{% extends "index.twig" %}

{% block title %}{{ ctrl.title }}{% endblock %}

{% block body %}
    <div class="container-fluid" id="titlecontent" name="titlecontent">
        <h4>Configuración inicial</h4>
        <small>Rellena los datos de configuración.</small>
    </div>

    <div class="container-fluid">
        <form action="{{ constant('BASE_URI') }}/index.php?{{ constant('CALL_CONTROLLER') }}=CreateConfig&{{ constant('METHOD_CONTROLLER') }}=main" method='post' accept-charset="utf-8">
            <div class="row">
                <div class="col-xs-12">
                    {% if (message) %}{{ message }}{% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        <label>Motor de base de datos</label>
                        <select id="dbEngineName" name="dbEngineName" class="form-control">
                            {% for dbEngine in view.dbEngines %}
                                <option {{ dbEngine==view.dbEngineName ? "selected":"" }}>{{ dbEngine }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    {% if view.skins|length > 0 %}
                        <div class="form-group">
                            <label>Plantilla (Skin)</label>
                            <select id="skin" name="skin" class="form-control">
                                {% for skin in view.skins %}
                                    <option {{ skin==view.skin ? "selected":"" }}>{{ skin }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                </div>
                {% for key,var in view.dbConfig %}
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="form-group">
                            <label>{{ key }}</label>
                            <input id="{{ key }}" name="{{ key }}" class="form-control" type="text" value="{{ var }}"/>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-xs-12 col-sm-12 col-md-12">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <button name="action" type="submit" class="btn btn-default btn-danger" value="cancel">
                        Salir
                    </button>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <button name="action" type="submit" class="btn btn-default btn-primary" value="save">
                        Guardar los cambios
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
