{% extends "index.twig" %}
{% block title %}Configuración de la base de datos{% endblock %}
{% block body %}
    {{ view.newRow(view.blockContainer(view.title('Configuración general de la aplicación')))|raw }}
    <form action='index.php?call=config' method='post' accept-charset="utf-8">
        <div id="container" class="col-lg-6">
            {% for key,var in vars %}
                <div class="form-group">
                    <label>{{var}}</label>
                    <input id="{{key}}" name="{{key}}" class="form-control" type="text" value="{{ post[key] }}" />
                    <p class="help-block">{{var}}</p>
                </div>
            {% endfor %}
        </div>
        <div class="col-lg-6">

            <div class="form-group">
                <label>Motor de base de datos</label>
                <select id="dbengine" name="dbengine" class="form-control">
                    {% for dbplugin in dbplugins %}
                        <option {{ post["dbengine"]==dbplugin ? "selected":"" }}>{{dbplugin}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Seleccione una plantilla</label>
                <select id="template" name="template" class="form-control">
                    {% for skin in skins %}
                        <option {{ post["template"]==skin ? "selected":"" }}>{{skin}}</option>
                    {% endfor %}
                </select>
            </div>

            <button name="submit" type="submit" class="btn btn-default">Guardar los cambios</button>
            <button name="clear" type="submit" class="btn btn-default">Borrar los campos</button>
            <button name="cancel" type="submit" class="btn btn-default">Abandonar</button>
        </div>
    </form>
    <!-- /#page-wrapper -->
{% endblock %}
