{#
 ~ Alxarafe. Development of PHP applications in a flash!
 ~ Copyright (C) 2018 Alxarafe <info@alxarafe.com>
#}
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<meta name="description" content="{{ main.description | raw }}"/>
<meta name="author" content="{{ main.author | raw }}">
<meta name="generator" content="Alxarafe"/>
<link rel="shortcut icon" href="vendor/alxarafe/alxarafe/templates/img/favicon.ico"/>

<title>{% block title %}{{ lang.trans(ctrl.title) }}{% endblock %} - Alxarafe</title>

{% block stylesheets %}
    <link rel="stylesheet" href="vendor/alxarafe/alxarafe/templates/css/alxarafe.css">
    {% for css in cssCode %}
        <link rel="stylesheet" href="{{ css }}"/>
    {% endfor %}
    {# start of getHeader #}
    {{ view.getHeader() | raw }}
    {# end of getHeader #}
{% endblock %}
