{#
 ~ Alxarafe. Development of PHP applications in a flash!
 ~ Copyright (C) 2018 Alxarafe <info@alxarafe.com>
#}
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

{% set description = main.description | raw %}
{% set author = main.author | raw %}
{% if description is not empty %}<meta name="description" content="{{ description }}"/>{% endif %}
{% if author is not empty %}<meta name="author" content="{{ author }}">{% endif %}
<meta name="generator" content="Alxarafe"/>
<link rel="shortcut icon" href="{{ getResourceUri('/templates/img/favicon.ico') }}"/>

<title>{% block title %}{{ lang.trans(ctrl.title) }}{% endblock %} - Alxarafe</title>

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ getResourceUri('/resources/skins/default/bower_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ getResourceUri('/resources/skins/default/bower_modules/bootstrap/dist/css/bootstrap-theme.min.css') }}">
    {% for css in cssCode %}<link rel="stylesheet" type="text/css" href="{{ css }}"/>{% endfor %}
    <link rel="stylesheet" type="text/css" href="{{ getResourceUri('/templates/css/alxarafe.css') }}">
    {# start of getHeader #}
    {{ getHeader() | raw }}
    {# end of getHeader #}
{% endblock %}
