{#
 ~ Alxarafe. Development of PHP applications in a flash!
 ~ Copyright (C) 2018 Alxarafe <info@alxarafe.com>
#}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ constant('BASE_URI') }}/index.php">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                &nbsp; Alxarafe
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            {% if user %}
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ constant('BASE_URI') }}/index.php?{{ constant('CALL_CONTROLLER') }}=ExportStructure">Exportar estructura</a>
                </li>
            </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% if user %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            &nbsp; {{ user }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ constant('BASE_URI') }}/index.php?{{ constant('CALL_CONTROLLER') }}=EditConfig">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    &nbsp; Editar configuración
                                </a>
                            </li>
                            <li>
                                <a href="{{ constant('BASE_URI') }}/index.php?{{ constant('CALL_CONTROLLER') }}=Login&{{ constant('METHOD_CONTROLLER') }}=logout">
                                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                                    &nbsp; Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="dropdown">
                        <a href="{{ constant('BASE_URI') }}/index.php?{{ constant('CALL_CONTROLLER') }}=Login">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                            &nbsp; Login
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>