{#
 ~ Alxarafe. Development of PHP applications in a flash!
 ~ Copyright (C) 2018-2019 Alxarafe <info@alxarafe.com>
#}

{#
    This macro generate the field, for a table cell, for a form or for a list of fields.
#}
{% macro generateField(item, editableField, showLabel, showCols) %}
    {% import "master/autoforms.twig" as self %}

    {# items param: Item is the array with all details #}

    {# editableField param: Is field editable? #}
    {% set editable = false %}
    {% if editableField is defined %}
        {% set editable = editableField %}
    {% endif %}

    {# showLabel param: Need show label? #}
    {% set hasLabel = false %}
    {% if showLabel is defined %}
        {% set hasLabel = showLabel %}
    {% endif %}

    {# showColsparam: Need show cols? #}
    {% set hasCols = true %}
    {% if showCols is defined %}
        {% set hasCols = showCols %}
    {% endif %}

    {{ self.simpleEditField(item, editable, hasLabel, hasCols) }}
{% endmacro %}

{#
    This macro generates a simple edit input field.
#}
{% macro simpleEditField(item, editable, hasLabel, hasCols) %}
    {% set labelSize = 0 %}
    {% set labelInput = 12 %}
    {% if hasLabel %}
        {% set labelSize = 3 %}
        {% if hasCols %}<div class="col-xs-{{ labelSize }}">{% endif %}
        <label for="{{ item.idName }}" class="control-label">{{ item.label }}:</label>
        {% if hasCols %}</div>{% endif %}
    {% endif %}

    {% set inputType = 'text' %}
    {% if item.struct.type is same as('integer') or item.struct.type is same as('number') %}
        {% set inputType = 'number' %}
    {% endif %}

    {% set extraAttrResult = '' %}
    {% set extraAttr = {
        'pattern': null,
        'min': null,
        'max': null,
        'maxlength': null,
        'placeholder': null,
        'title': null
    } %}
    {% for key, value in extraAttr %}
        {% if item.viewData[key] is defined %}
            {% set extraAttrResult = extraAttrResult ~ ' ' ~ key ~ '=' ~ item.viewData[key] %}
        {% endif %}
    {% endfor %}

    {% set labelInput = labelInput - labelSize %}
    {% if hasCols %}<div class="col-xs-{{ labelInput }}">{% endif %}
    {% if editable %}
        <input id="{{ item.idName }}" name="{{ item.idName }}" type="{{ inputType }}" class="form-control" value="{{ item.value }}" {{ extraAttrResult }} {% if item.isPk %}readonly{% endif %}>
    {% else %}
        {#
        <span id="{{ item.idName }}" name="{{ item.idName }}">{{ item.value }}</span>
        #}
        {{ item.value }}
    {% endif %}

    {# CHANGE THIS VALUE TO GET DEBUG INFO #}
    {#
        <pre>{{ dump(item) }}</pre>
    #}
    {% if hasCols %}</div>{% endif %}
{% endmacro %}