{#
 ~ Alxarafe. Development of PHP applications in a flash!
 ~ Copyright (C) 2018-2019 Alxarafe <info@alxarafe.com>
#}
{% extends "@Core/index.twig" %}

{% block title %}{{ trans('no-access') }}{% endblock %}

{% block extraStylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ getResourceUri('/css/common.css') }}">#}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h3>{{ trans('no-access') }}</h3>
        </div>
    </div>
{% endblock %}

{% block extraJavascriptsFooter %}
    {{ parent() }}
    <script type="text/javascript" src="{{ getResourceUri('/js/common.js') }}"></script>
{% endblock %}