{#
 ~ Alxarafe. Development of PHP applications in a flash!
 ~ Copyright (C) 2018-2019 Alxarafe <info@alxarafe.com>
#}
{% extends "@Core/index.twig" %}

{% block title %}{{ trans('update') }} {{ trans(ctrl.title) }}{% endblock %}

{% block extraStylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" type="text/css" href="{{ getResourceUri('/css/common.css') }}">#}
{% endblock %}

{% block body %}
    {% import "master/autoforms.twig" as forms %}

    {% set encType = '' %}
    {% if ctrl.encType is not empty %}
        {% set encType = 'enctype="' ~ ctrl.encType ~ '"' %}
    {% endif %}
    {% set listFields = ctrl.getListFields() %}
    {% set pk =  ctrl.model.getOldData()[ctrl.model.getIdField()] %}

    {% set formType = 'form-inline' %}
    {% if ctrl.viewData.form-type is not empty %}
        {% set formType = ctrl.viewData.form-type %}
    {% endif %}

    <form action="{{ ctrl.url ~ '&' ~ constant('METHOD_CONTROLLER') ~ '=edit&' ~ ctrl.model.getIdField() ~ '=' ~ pk }}" method="post" accept-charset="utf-8" {{ encType }} class="{{ formType }}">
        {% for regKey, registers in listFields %}
            {% for itemKey, item in registers %}
                <div class="row">
                    {{ forms.generateField(item, itemKey, true, true, true, ctrl) }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <a name="cancel" href="{{ ctrl.url }}" class="btn btn-danger btn-sm" type="submit" onClick="allowClose();" formnovalidate title="{{ trans('back') }}">
                    <i class="fas fa-chevron-left"></i>
                    <span class='hidden-xs hidden-sm hidden-md'>
                        {{ trans('back') }}
                    </span>
                </a>
            </div>
            <div class="col-xs-6 text-right">
                <div class="btn-group" role="group">
                    <button name="action" type="submit" class="btn btn-primary btn-sm" value="save" onClick="allowClose();" title="{{ trans('save-changes') }}">
                        <i class="far fa-save"></i>
                        <i class="fas fa-redo-alt"></i>
                        <span class='hidden-xs hidden-sm hidden-md'>
                            {{ trans('save-changes') }}
                        </span>
                    </button>
                    <button name="action" type="submit" class="btn btn-success btn-sm" value="save-exit" onClick="allowClose();" title="{{ trans('save-changes-exit') }}">
                        <i class="fas fa-save"></i>
                        <span class='hidden-xs hidden-sm hidden-md'>
                            {{ trans('save-changes-exit') }}
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block extraJavascriptsFooter %}
    {{ parent() }}
    <script type="text/javascript" src="{{ getResourceUri('/js/common.js') }}"></script>
{% endblock %}
